In [1]:
# This cell is from the template notebook. It contains ipython magic and 
# various useful imports which are commonly used in this app.

%load_ext autoreload
%autoreload 2

import pandas as pd
import datetime
import numpy as np
import os
from acoustic_data_science import config, helpers
import matplotlib.pyplot as plt

In [5]:
month_name = '2018_09'
df = pd.read_feather(helpers.feather_path_from_month_name(config.processed_data_path, month_name), columns=['timestamp'])
df.head()

                timestamp
0 2018-08-31 23:56:05.500
1 2018-08-31 23:56:06.000
2 2018-08-31 23:56:06.500
3 2018-08-31 23:56:07.000
4 2018-08-31 23:56:07.500

In [17]:
month_number = int(month_name.split('_')[1])
df[df['timestamp'].dt.month == month_number].reset_index(drop=True)

                      timestamp
0       2018-09-01 00:00:00.000
1       2018-09-01 00:00:00.500
2       2018-09-01 00:00:01.000
3       2018-09-01 00:00:01.500
4       2018-09-01 00:00:02.000
...                         ...
3651844 2018-09-30 23:59:57.500
3651845 2018-09-30 23:59:58.000
3651846 2018-09-30 23:59:58.500
3651847 2018-09-30 23:59:59.000
3651848 2018-09-30 23:59:59.500

[3651849 rows x 1 columns]

In [15]:
month_name
month_name.split('_')
int(month_name.split('_')[1])

9